---
---
h1.title {
  font-size: 45px !important;
  font-style: normal !important;
}
.markdown-body table {
  width: 100%;
}
.markdown-body thead {
  column-width: auto !important;
}
@import "{{site.theme}}";
