---
---
h1.title {
  font-size: 45px !important;
  font-style: normal !important;
}
.markdown-body h3 {
  margin-bottom: 5px !important;
}
.markdown-body h5 {
  margin-top: 5px !important;
}
.markdown-body th {
  text-align: left !important;
}
.markdown-body td {
  width: 80% !important;
}
@import "{{site.theme}}";
