---
---
h1.title {
  font-size: 45px !important;
  font-style: normal !important;
}
.markdown-body th {
  width: 100% !important;
  text-align: left !important;
}
.markdown-body td {
  width: 80% !important;
}
@import "{{site.theme}}";
